<div class="logo-bg">
  <div class="triangle"></div>
</div>

<h2>What have you had to drink?</h2>
<form>
<label>QTY</label>
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
  
  <input type="text" name="drink">

  <button class="primary">Submit</button>
</form>