<h1>How much damage did you do last night?</h1>

<a class="button" href="/login">Log In</a>
<a class="button" href="/users_new">Sign Up</a>
<a class="button green" href="/stats">Proceed without an account</a>