<div class="logo-bg">
  <div class="triangle"></div>
  <div class="rectangle"></div>
  <div class="oval"></div>
</div>

<h2>Tell us a little about yourself.</h2> 
<h2>What's your...</h2>

<form>
  <label>Age Group</label>
  <select>
    <option>18-30</option>
    <option>31-50</option>
    <option>51-70</option>
    <option>71+</option>
  </select>

  <label>Gender</label>

  <button class="primary">Submit</button>
</form>