/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #FFF;
  font-family: sans-serif;
 }

/*********** LOGO ***********/

.logo-bg {
  background-color: lightgray;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.triangle,
.triangle:before,
.triangle:after {
    width:  30px;
    height: 30px;
    position: relative;
    background: #333;
    border-top-right-radius: 30%;
}
.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
}

.triangle {
    transform: rotate(0deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.triangle {
  margin: 0px 45%;
  top: 30px;
}


.rectangle {
  background: #333;
  width: 10px;
  height: 50px;
  margin: 30px 46.5% 0;
}

.oval {
  background: #333;
  width:  40px;
  height: 5px;
  border-radius: 50%;
  margin: auto;
}

/*********** FONT ***********/

h1 {
  color: #333;
  text-align: center;
  font-family: sans-serif;
 }

 h2 {
  color: #333;
  text-align: center;
  font-family: sans-serif;
 }

 .title {
  margin: 50px auto;
 }

 .add-new-drink {
  font-size: 25px;
  font-weight: bold;
  margin: 0 8% 25px;
 }


/*********** BUTTONS ***********/

.button {
  font-size: 20px;
  font-family: sans-serif; 
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #3C758C;
  padding: 20px;
  margin: 15px;
  display: block;
  border-radius: 2px;
}

.green {
  background-color: #42CE7C;
  color: #fff;
}

.facebook {
  font-size: 20px;
  font-family: sans-serif; 
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #3C758C;
  padding: 15px;
  margin: 8%;
  display: block;
  border-radius: 2px;
}

.radio {
  margin: 20px 20%;
}

input[type="radio"] {
}

.add-new-drink {
  text-align: right;
}

/*********** FORMS ***********/

.primary {
  font-size: 16px;
  margin: 0 8%;
  width: 84%;
  height: 50px;
  background-color: lightgreen;
  border: 0px;
  border-radius: 2px;
}

select {
  margin: 5px 8%;
  width: 84%;
  padding: 50px;
  font-size: 16px;
  border-radius: 2px;
  border: 2px lightgray solid;
  background-color: #fff;
  height: 50px;


}

label {
  margin: 8%;
  text-align: left;
  font-size: 16px;
}

.fb-like {
  margin: 60px 35px;
}



